<div class="main-container">
  <mat-card class="card-container">
    <mat-card-title>Imaginary Cards Game</mat-card-title>
    <mat-card-content class="card-content">
      <mat-form-field class="cards-input" appearance="fill">
        <mat-label>Cards</mat-label>
        <input matInput [(ngModel)]="cards" #cardsInput="ngModel" (ngModelChange)="handleInputChange()" required>
        <button *ngIf="cards" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint align="start"><strong>Cards entered should be separated by comma ( , ). Example: 3C,JS,2D,PT.</strong>
        </mat-hint>
      </mat-form-field>
      <div class="divider-text">
        <h1>Or</h1>
      </div>
      <mat-form-field class="cards-select" appearance="fill">
        <mat-label>Select Example Cards</mat-label>
        <mat-select [(ngModel)]="cards" (ngModelChange)="handleExampleSelection($event)" name="examples">
          <mat-option *ngFor="let example of examples" [value]="example">
            {{example}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button [disabled]="!cardsInput.valid || isSortingInProgress" mat-flat-button color="primary" class="sort-button"
        (click)="sort()">Sort The Cards</button>

      <div class="result-container" *ngIf="result$ | async as sortedCards">
        <div class="result" [class.result-hide]="isSortingInProgress">
          <h4 class="result-header">Sorted Cards</h4>
          <ng-container>
            <p class="result-content">
              {{sortedCards }}
            </p>
          </ng-container>
        </div>
      </div>

    </mat-card-content>
    <mat-card-footer *ngIf="isSortingInProgress">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
